<section class="cooking">
    <div class="container">
        <div class="cooking-wrapper">
            <h2 class="cooking-title">
                HOW IT'S <span class="cooking-highlight">MADE?</span>
            </h2>
            <div class="cooking-block">
                <div class="cooking-video">
                    <iframe src="" frameborder="0"></iframe>
                </div>
                <div class="cooking-recipe">
                    <h3 class="cooking-recipe-title">
                        Try  our chocolates today and discover the perfect balance of flavor
                    </h3>
                    <ul class="cooking-list">
                        <li class="cooking-item">
                            <p>At the same time, prepare a water bath. Melt the butter on it.</p>
                        </li>
                        <li class="cooking-item">
                            <p>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                        </li>
                        <li class="cooking-item">
                            <p>Heat the mixture over low heat, letting it barely boil.</p>
                        </li>
                        <li class="cooking-item">
                            <p>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>