<footer class="section footer">
  <div class="container footer-wrap">
    <h1 class="footer-slogan">
      <span class="footer-slogan-choco">Chocolate</span> a delicious cure for a
      bad day
    </h1>
    <div class="footer-contacts-mod">
      <ul class="footer-contacts">
        <li class="footer-contacts-item"></li>
        <li class="footer-contacts-item"></li>
        <li class="footer-contacts-item"></li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social-item"></li>
        <li class="footer-social-item"></li>
      </ul>
    </div>
    <ul class="footer-anchor-list">
      <li class="footer-anchor-item"></li>
      <li class="footer-anchor-item"></li>
      <li class="footer-anchor-item"></li>
      <li class="footer-anchor-item"></li>
      <li class="footer-anchor-item"></li>
    </ul>
  </div>
</footer>
