<div class="hero-main-container">
  <section class="hero">
    <div class="hero-container">
      <h1 class="visually-hidden">Simply-Chocolate</h1>
      <h2 class="hero_title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-buttons">
        <div class="hero-div">
          <button type="button" class="hero-button-buy">
            <span class="hero-button-text">Buy now</span>
          </button>
          <a href="#cooking" class="hero-button-how">
            <span class="hero-button-text">How it&#8217;s made</span>
          </a>
        </div>
        <div class="hero-scroll">
          <p class="hero-text">scroll down</p>
          <a href="#footer" class="hero-button-scroll">
            <svg class="hero-check" width="22" height="22">
              <use href="./img/symbol-defs.svg#icon-check_22x22"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
