<div class="backdrop is-hidden" data-review>
  <div class="modal-review">
    <h3 class="modal-review-title">
      LEAVE A REVIEW ABOUT
      <span class="modal-review-title-accent">OUR CHOCOLATE</span>
    </h3>
    <form class="chocolate-form" name="chocolate_form">
      <input
        class="modal-review-item"
        name="name"
        type="text"
        placeholder="Name"
      />
      <input
        class="modal-review-item"
        name="email"
        type="text"
        placeholder="Enter your email"
      />
      <div class="modal-review-container">
        <input
          class="modal-review-item-phone"
          name="phone"
          type="number"
          placeholder="Phone number"
        />
        <span class="modal-review-item-number">+380</span>
        <svg class="modal-review-item-icon">
          <use href="./img/symbol-defs.svg#icon-flag_24x18"></use>
        </svg>
      </div>
      <textarea
        class="modal-review-textarea"
        placeholder="Enter text"
      ></textarea>
      <button type="submit" class="modal-review-button" data-feedback-open>
        Send
      </button>
    </form>
    <button class="modal-btn" data-review-close>
      <svg class="modal-icon" width="23" height="23">
        <use href="./img/symbol-defs.svg#icon-_28x28"></use>
      </svg>
    </button>
  </div>
</div>
