<section>
    <div class="modal-thank container is-hidden">
        <div class="div-center-btn">
        <button type="button" class="button-close-modal">
            <svg class="svg-modal-close" width="22px" height="22px">
                <use href="./img/symbol-defs.svg#icon-x_22x22"></use>
            </svg>
        </button>
    </div>
<div class="modal-text">
    <h2 class="modal-title">thank you!</h2>
    <p class="modal-paragraph">We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.</p>
</div>
</div>
</section>