<div class=" backdrop ">
    <div class="modal-buy-now">
        <button type="button" class="btn-close-open">
            <svg width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h1 class="header-modal-buy"><span class="acсent">BUY</span> NOW</h1>
        <ul class="list-chocolate-selection">
            <li>
                <div class="cont-chocolate-selection"></div>
            </li>
            <!-- <li>
                <div class="cont-chocolate-selection"></div>
            </li>
            <li>
                <div class="cont-chocolate-selection"></div>
            </li> -->
        </ul>
    </div>
</div>
