<section class="is-hidden" data-explore>
  <div class="nev-chocolate-main">
    <div class="div-only-btn">
      <button type="button" class="new-chocolate-btn-close" data-explore-close>
        <svg class="div-chocolate-btn-close" width="28px" height="28px">
          <use href="./img/symbol-defs.svg#icon-x_22x22"></use>
        </svg>
      </button>
    </div>
    <div class="new-chocolte-text">
      <p class="new-chocolate-paragraph">
        Explore our<br />
        <span class="new-chocolate-span-paragraph">new chocolate </span>first!
      </p>
      <div class="div-form-new-chocolate">
        <form class="new-chocolate-form" id="form">
          <input
            type="email"
            class="new-chocolate-input"
            placeholder="Enter your email"
            required
            name="email"
          /><button type="submit" class="new-chocolate-btn-submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
