<section class="section-products" id="our-products">
    <div class="products-container container">
        <h1 class="products-title">OUR <span class="products-title-color">PRODUCTS</span></h1>
        <div class="products-swiper-cont swiper">
            <ul class="products-list swiper-wrapper">

                <li class="products-item swiper-slide">

                    <img class="product-img" src="./img/products/image-orange-choco.jpg"
                        srcset="./img/products/image-orange-choco.jpg 1x, ./img/products/image-orange-choco-2x.jpg 2x"
                        alt="orange" width="230" height="200">
                    <h3 class="products-choco-title">ORANGE</h3>
                    <p class="products-choco-paragraf">Dark chocolate</p>
                    <button type="button" class="products-btn">
                        45 UAH
                    </button>

                </li>
                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-applencranberry-choco.jpg"
                        srcset="./img/products/image-applencranberry-choco.jpg 1x, ./img/products/image-applencranberry-choco-2x.jpg 2x"
                        alt="apple&cranberry" width="230" height="200">
                    <h3 class="products-choco-title">APPLE&CRANBERRY</h3>
                    <p class="products-choco-paragraf">Milk chocolate</p>
                    <button type="button" class="products-btn">
                        50 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-limenseasalt-choco.jpg"
                        srcset="./img/products/image-limenseasalt-choco.jpg 1x, ./img/products/image-limenseasalt-choco-2x.jpg 2x"
                        alt="lime&sea" width="230" height="200">
                    <h3 class="products-choco-title">LIME&SEA SALT</h3>
                    <p class="products-choco-paragraf">Dark chocolate</p>
                    <button type="button" class="products-btn">
                        66 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-pineapple-choco.jpg"
                        srcset="./img/products/image-pineapple-choco.jpg 1x, ./img/products/image-pineapple-choco-2x.jpg 2x"
                        alt="pineapple" width="230" height="200">
                    <h3 class="products-choco-title">PINEAPPLE</h3>
                    <p class="products-choco-paragraf">Dark chocolate</p>
                    <button type="button" class="products-btn">
                        54 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-classic-milk-choco.jpg"
                        srcset="./img/products/image-classic-milk-choco.jpg 1x, ./img/products/image-classic-milk-choco-2x.jpg 2x"
                        alt="classic-milk" width="230" height="200">
                    <h3 class="products-choco-title">CLASSIC</h3>
                    <p class="products-choco-paragraf">Milk chocolate</p>
                    <button type="button" class="products-btn">
                        45 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-honey-choco.jpg"
                        srcset="./img/products/image-honey-choco.jpg 1x, ./img/products/image-honey-choco-2x.jpg 2x"
                        alt="honey" width="230" height="200">
                    <h3 class="products-choco-title">HONEY</h3>
                    <p class="products-choco-paragraf">Milk chocolate</p>
                    <button type="button" class="products-btn">
                        50 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-roastedfruits-choco.jpg"
                        srcset="./img/products/image-roastedfruits-choco.jpg 1x, ./img/products/image-roastedfruits-choco-2x.jpg 2x"
                        alt="roasted-fruits" width="230" height="200">
                    <h3 class="products-choco-title">ROASTED FRUITS</h3>
                    <p class="products-choco-paragraf">Dark chocolate</p>
                    <button type="button" class="products-btn">
                        66 UAH
                    </button>
                </li>

                <li class="products-item swiper-slide">
                    <img class="product-img" src="./img/products/image-classic-white-choco.jpg"
                        srcset="./img/products/image-classic-white-choco.jpg 1x, ./img/products/image-classic-white-choco-2x.jpg 2x"
                        alt="classic-white" width="230" height="200">
                    <h3 class="products-choco-title">CLASSIC</h3>
                    <p class="products-choco-paragraf">White chocolate</p>
                    <button type="button" class="products-btn">
                        54 UAH
                    </button>
                </li>

            </ul>
        </div>

        <div class="swiper-pagination1"></div>
        
    </div>
</section>
