<section class="reviews">
   <h1 class="reviews-title" >chocolate is loved</h1>
   <ul>
      <li class="reviews-item">
         <img 
         src="../img/reviews/viktoria1x.jpg" 
         width="80px" 
         height="80px"
         alt="Victoria" 
         srcset="../img/reviews/viktoria1x.jpg ../img/reviews/viktoria2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Victoria Dobrzhanska</h3>
             <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
         </div>
      </li>
      <li class="reviews-item">
         <img 
         src="../img/reviews/nazar1x.jpg" 
         width="80px" 
         height="80px"
         alt="Nazar" 
         srcset="../img/reviews/nazar1x.jpg ../img/reviews/nazar2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Nazar Babenko</h3>
             <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
         </div>
      </li>
      <li class="reviews-item">
         <img 
         src="../img/reviews/olena1x.jpg" 
         width="80px" 
         height="80px"
         alt="Olena" 
         srcset="../img/reviews/olena1x.jpg ../img/reviews/olena2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Olena Kampusch</h3>
             <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
         </div>
      </li>
      <li class="reviews-item">
         <img 
         src="../img/reviews/natalla1x.jpg" 
         width="80px" 
         height="80px"
         alt="Natalla" 
         srcset="../img/reviews/natalla1x.jpg ../img/reviews/natalla2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Natalia Sus</h3>
             <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
         </div>
      </li>
      <li class="reviews-item">
         <img 
         src="../img/reviews/danilo1x.jpg" 
         width="80px" 
         height="80px"
         alt="Danilo" 
         srcset="../img/reviews/danilo1x.jpg ../img/reviews/danilo2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Danilo Nottingham</h3>
             <p class="reviews-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
         </div>
      </li>
      <li class="reviews-item">
         <img 
         src="../img/reviews/irina1x.jpg" 
         width="80px" 
         height="80px"
         alt="Irina" 
         srcset="../img/reviews/irina1x.jpg ../img/reviews/irina2x.jpg"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Irina Tydnyuk</h3>
             <p class="reviews-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
         </div>
      </li>
      
   </ul>

</section>