<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<section class="reviews container">
   <h1 class="reviews-title" ><span class="reviews-title-chocolate"> chocolate</span> is loved</h1>
   <div class="reviews-swiper swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="reviews-swiper-slide swiper-slide">
          <img  src="../img/reviews/viktoria1x.jpg"
          class="reviews-foto"
         width="80px" 
         height="80px"
         alt="Victoria" 
         srcset="../img/reviews/viktoria1x.jpg 1x, ../img/reviews/viktoria2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Victoria Dobrzhanska</h3>
             <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
         </div>
      </div>
        <div class="reviews-swiper-slide swiper-slide">
        <img 
         src="../img/reviews/nazar1x.jpg" 
         width="80px" 
         height="80px"
         alt="Nazar" 
         class="reviews-foto"
         srcset="../img/reviews/nazar1x.jpg 1x, ../img/reviews/nazar2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Nazar Babenko</h3>
             <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
         </div>
      </div>
        <div class="reviews-swiper-slide swiper-slide">
          <img 
         src="../img/reviews/olena1x.jpg" 
         class="reviews-foto"
         width="80px" 
         height="80px"
         alt="Olena" 
         srcset="../img/reviews/olena1x.jpg 1x, ../img/reviews/olena2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Olena Kampusch</h3>
             <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
         </div>
      </div>
        <div class="reviews-swiper-slide swiper-slide">
          <img 
         src="../img/reviews/natalla1x.jpg" 
         width="80px" 
         height="80px"
         alt="Natalla" 
         class="reviews-foto"
         srcset="../img/reviews/natalla1x.jpg 1x, ../img/reviews/natalla2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Natalia Sus</h3>
             <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
         </div>
      </div>
        <div class="reviews-swiper-slide swiper-slide">
          <img 
         src="../img/reviews/danilo1x.jpg" 
         width="80px" 
         height="80px"
         alt="Danilo" 
         class="reviews-foto"
         srcset="../img/reviews/danilo1x.jpg 1x, ../img/reviews/danilo2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Danilo Nottingham</h3>
             <p class="reviews-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
         </div>
      </div>
        <div class="reviews-swiper-slide swiper-slide">
          <img 
         src="../img/reviews/irina1x.jpg" 
         width="80px" 
         height="80px"
         alt="Irina" 
         class="reviews-foto"
         srcset="../img/reviews/irina1x.jpg 1x, ../img/reviews/irina2x.jpg 2x"
         />
         <div class="reviews-coment">
             <h3 class="reviews-caption">Irina Tydnyuk</h3>
             <p class="reviews-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
         </div>
      </div>
        
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!---------Button---------->
    
    <button 
    type="button" 
    class="leave-review-open-btn"
    data-menu-open><span class="reviews-text-btn"> Leave  a review </span></button>
    
    
    <!-------Js------------->
    <script src="./reviews-swiper.js"></script>
</section>
