<section class="topsellers-section section container">
  <h2 class="topsellers-name">
    <div class="topsellers-name-first">tOp</div>
    <div class="topsellers-name-second">Sellers</div>
  </h2>
  <ul class="topsellers-list">
    <li class="topsellers-list-item">
      <img
        src="../img/topsellers/mobile/img02.jpg"
        srcset="
          ../img/topsellers/mobile/img02.jpg    1x,
          ../img/topsellers/mobile/img01_2x.jpg 2x
        "
        alt="Chocolate"
        class="topsellers-image"
        height="464px"
      />

      <p class="topsellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="topsellers-list-item">
      <img
        src="../img/topsellers/mobile/img01.jpg"
        srcset="
          ../img/topsellers/mobile/img01.jpg    1x,
          ../img/topsellers/mobile/img02_2x.jpg 2x
        "
        alt="Chocolate"
        class="topsellers-image"
        height="464px"
      />
    </li>
    <li class="topsellers-list-item topsellers-center-button">
      <img
        src="../img/topsellers/desktop/img03.jpg"
        srcset="
          ../img/topsellers/desktop/img03.jpg    1x,
          ../img/topsellers/desktop/img03_2x.jpg 2x
        "
        alt="Chocolate"
        class="topsellers-image topsellers-hidden"
        height="464px"
      />
      <button type="button" class="topsellers-button">Buy now</button>
    </li>
  </ul>
</section>
