.benefits-section {
  background-color: var(--blackcurrant);
  padding-bottom: 0px;
  padding-top: 0px;
}

.benefits-container {
  max-width: 375px;
  padding: 29px 47px 36px 20px;
  margin: 0 auto;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
  max-width: 308px;
}

.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  background-color: var(--blackcurrant);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.benefits-title {
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--icon-color-normal-dark);
}

.benefits-text {
  color: var(--secondary-text-color-dark);
}

@media screen and (min-width: 375px) {
  .benefits-section {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .benefits-container {
    max-width: 375px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {

  .benefits-section {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .benefits-container {
    max-width: 768px;
    padding: 59px 45px 85px 32px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 0px;
  }

  .benefits-container {
    max-width: 1200px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 88px;
    justify-content: space-between;
    
  }
  .benefits-item {
    position: relative;
  }

  .benefits-item:not(:last-child)::after {
    position: absolute;
    left: calc(100% + 18px);
    top: 70px;
    content: '';
    display: block;
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
