.section {
    padding-top: 72px;
  padding-bottom: 72px;
}
.container {
    max-width: 320px;
   padding: 20px 20px;
    margin: 0 auto;
}

.benefits-list {
    display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
    display: flex;
  flex-direction: column;
  gap: 18px;
}
.benefits-icon {
    display: block;
    width: 62px;
    height: 62px;
    
    
    margin-left: 20px;
    margin-bottom: 22px;
    background-color:#1E1823;
    border-radius: 50%;
    border: #31d0aa;
}
.benefits-title {
    padding-left: 20px;
  padding-bottom: 18px;
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.22px;
  
  color: var(--navy-blue);
}
.benefits-text {
    font-weight: 400;
    width: 308px;
    height: 102px;
}