.no-scrol {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* transform: translateX(0); */
  transition: opacity 300ms linear, visibility 300ms linear;

  overflow-y: scroll;
}

.modal-buy-now {
  border-radius: 15px;
  width: 311px;
  min-height: 1007px;
  background-color: var(--body-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  top: 580px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: transform 0.5s linear;
}

@media screen and (min-width: 768px) {
  .modal-buy-now {
    width: 609px;
    min-height: 1058px;
    padding: 31px;
  }
}

.btn-close-open {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  background-color: var(--body-background-color);
}

.header-modal-buy {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.acсent {
  color: var(--orange);
}

.list-chocolate-selection {
  display: flex;
  justify-content: center;
}

.cont-chocolate-selection {
  width: 231px;
  height: 257px;
  border-radius: 15px;
  background-color: var(--bg-color-light);
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.chocolate-list {
  display: flex;
  justify-content: center;

  gap: 16px;
  /* width: 231px;
    height: 257px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1); */
}

.wrap-img-choco {
  width: 160px;
  height: 196px;
  border-radius: 15px;
  background-color: var(--bg-color-light);
  border: 1px solid rgba(17, 17, 17, 0.1);

  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
}

.swiper-slide-list {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 768px) {
  .chocolate-list {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.chocolate-selection:is(:hover, :focus) {
  background-color: var(--button-bg-active-ligh);
  color: var(--orange);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.weight {
  width: 96px;
  height: 33px;
  background-color: var(--body-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.chocolate1 {
  margin-top: 32px;
  margin-left: 32px;
}

.list-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
}

.item-form {
  width: 100%;
}

.input-text {
  display: inline-block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-icon-tel {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.modal-icon-card {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 45px;
  border-radius: 5.44px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  display: block;
  padding-left: 18px;
  padding-right: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .modal-input {
    width: 100%;
    height: 66px;
    padding-left: 24px;
    padding-right: 24px;

    font-weight: 400;
    font-size: 18px;
  }
  .modal-input::placeholder {
    font-weight: 400;
    font-size: 18px;
  }
}
.№phone {
  padding-left: 50px;
}

.№card {
  padding-right: 70px;
}

.modal-order {
  /* display: block; */
  margin-top: 32px;
  margin-left: 5px;
}

.eryrt {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
}

.comment-text {
  resize: none;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-radius: 5.44px;
  width: 263px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}
@media screen and (min-width: 768px) {
  .comment-text {
    width: 100%;
  }

  .eryrt {
    display: flex;
    flex-wrap: nowrap;
    gap: 21px;
  }
}

.comment-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.button-modal-buy {
  width: 109px;
  height: 41px;
  background-color: var(--button-bg-normal-light);
  color: var(--button-font-normal-light);
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.button-modal-buy:is(:hover, :focus) {
  background-color: var(--button-bg-active-light);
  color: var(--button-font-active-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-wrap-buy-n {
  border-radius: 15px;
  background-color: var(--bg-color-light);
  border: 1px solid rgba(17, 17, 17, 0.1);

  width: 231px;
  height: 257px;
}

@media screen and (min-width: 768px) {
  .swiper-wrap-buy-n {
    /* width: 160px;
        height: 196px; */
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.swiper-wrapper {
  padding: 0;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background-color: var(--button-bg-normal-light);
  border-radius: 15px;
}

/* .swiper-pagination-bullets {
  width: 28px;
  height: 13px;
} */
