.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-feedback{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:311px;
    height: 350px;
    background-color:var(--orange);
    border-radius: 15px;
    background-image: url(../img/modal-feedback/chocolate-mobile.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.div-btn{
    padding-top:14px;
    padding-right: 14px;
}
.button-close-feedback{
    width: 28px;
    height: 28px;
    border-radius:50%;
    padding: 4px;
    background-color:var(--pink);
    border-color: transparent;
    display: block;
    margin-left: auto;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-modal-close{
    stroke: var(--orange);
    }
.feedback-text{
    color: var(--pink);
}
.feedback-title{
    font-weight: 600;
font-size: 20px;
line-height: 24px; 
margin-bottom: 8px;
text-transform: uppercase;
padding-left: 58px;
}
.feedback-paragraph{
/* max-width: 229px; */
padding-left: 58px;
}

/*-------------MEDIA---------------*/

@media screen and (max-width: 767px) {
    .modal-feedback{
    max-width:311px;
    }
    .feedback-paragraph{
        width: 229px;
    }
}
/*------------------------*/

@media screen and (min-width: 768px) {
    .center-div{
        margin: 0 auto;
    }
    .div-btn{
        padding-top: 24px;
        padding-right: 26px;
    }
    .modal-feedback{
        width: 516px;
        height: 414px;
        background-image: url(../img/modal-feedback/chocolate-tublet.png);
    }
    .button-close-feedback{
        width:38px;
        height:38px;
        margin-bottom: 101px;
    }
    .feedback-text{
        padding-left: 170px;
    }
    .feedback-title{
        font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-left: 0;
    }
    .feedback-paragraph{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        /* width: 297px; */
        padding-left: 0;
    }
}

/*------------------------*/

@media screen and (min-width: 1200px) {
}