 .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-buy-now {
    border-radius: 15px;
    width: 311px;
    min-height: 1007px;
    background-color: var(--body-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    padding: 20px;
    transition: transform 0.5s linear;
   
}

.btn-close-open {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    background-color: var(--body-background-color);
}

.header-modal-buy {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.acсent {
    color: #FD9222;
}


.list-chocolate-selection {
    display: flex;
    justify-content: center;

    
}

.cont-chocolate-selection {
    width: 231px;
    height: 257px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
}

.weight {
    width: 96px;
    height: 33px;
    background-color: var(--body-background-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.chocolate1 {
    margin-top: 32px;
    margin-left: 32px;
}

.list-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
}

.item-form {
    width: 100%;
}

.input-text {
    display: inline-block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
}

.modal-input {
    width: 100%;
    height: 45px;
    border-radius: 5.44px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    display: block;
    padding-left: 18px;


    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.modal-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.modal-order {
    /* display: block; */
    margin-top: 32px;
    margin-left: 5px;
}

.eryrt {
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;

}
.comment-placeholder {
    resize: none;
    padding: 14px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-radius: 5.44px;
    width: 264px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.comment-placeholder::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.button-modal-buy {
    width: 109px;
    height: 41px;
    background-color: #FD9222;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 12px 28px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;

    margin-top: 18px;
}

















.container {
    width: 375px;
    /* margin-inline: auto; */
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        /* margin-inline: auto; */
    }
}

@media screen and (min-width: 768px) {
    /* .section {
        padding-top: 100px;
    } */

    .container {
        width: 768px;
        /* padding-inline: 32px; */
    }
}

@media screen and (min-width: 1200px) {
    /* .section {
        padding-top: 128px;
    } */

    .container {
        width: 1200px;
    }
}

/*-----Part hidden-------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

