 .is-hidden {
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
 }


 .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms linear, visibility 300ms linear;
}


.modal-buy-now {
    border-radius: 15px;
    width: 311px;
    min-height: 1007px;
    background-color: var(--body-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    padding: 20px;
    transition: transform 0.5s linear;
   visibility: hidden;
}

@media screen and (min-width: 768px) {
    .modal-buy-now {
        width: 609px;
        min-height: 1058px;
        padding: 31px;
    }
}
/* @media screen and (min-width: 1200px) {
    .modal-buy-now {
        width: 609px;
        min-height: 1058px;
    }
} */

.btn-close-open {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    background-color: var(--body-background-color);
}
@media screen and (min-width: 768px) {
    .btn-close-open {
        width: 28px;
        height: 28px;
    }
}

.header-modal-buy {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.acсent {
    color: #FD9222;
}

.weight {
    width: 96px;
    height: 33px;
    background-color: var(--body-background-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.chocolate {
    margin-top: 32px;
    margin-left: 32px;
}

.list-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
}

.item-form {
    width: 100%;
}

.input-text {
    display: inline-block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
}

.input-wrap {
    display: block;
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}



.modal-input {
    width: 100%;
    height: 45px;
    border-radius: 5.44px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    display: block;
    padding-left: 18px;
    padding-right: 18px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.modal-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(64, 64, 64, 0.3);
}

/* .modal-input:nth-child(4) {
    padding-left: 150px;
} */


@media screen and (min-width: 768px) {
    .modal-input {
        width: 100%;
        height: 66px;
        padding-left: 24px;
        padding-right: 24px;

        font-weight: 400;
        font-size: 18px;
    }
    .modal-input::placeholder {
        font-weight: 400;
        font-size: 18px;
    }

}
.№phone {
    padding-left: 106px;
}

.№card {
    padding-right: 70px;
}

.modal-order {
    /* display: block; */
    margin-top: 32px;
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
    .modal-order {
        margin-top: 40px;
        margin-right: 17px;
        margin-left: 17px;
    }
}

.list-person-name {
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;

}

@media screen and (min-width: 768px) {
    .list-person-name {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 21px;
    }
}

.comment-placeholder {
    resize: none;
    padding: 14px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-radius: 5.44px;
    /* width: 263px; */
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}
@media screen and (min-width: 768px) {
    .comment-placeholder {
        width: 528px;
    }
}

.comment-placeholder::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.button-modal-buy {
    width: 109px;
    height: 41px;
    background-color: #FD9222;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 12px 28px;
    margin-top: 18px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
}

.button-modal-buy:hover {
    background-color: #FCF1E0;
    color: #FD9222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.swiper {
  display: flex;
  justify-content: center;


    width: 231px;
    height: 257px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
}
@media screen and (min-width: 768px) {
    .swiper {
        width: 160px;
        height: 196px;
    }
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.swiper-pagination-bullet-active {
    background-color: #FD9222;
    width: 28px;
    height: 13px;
    border-radius: 20px;
}


.modal-icon::before {
    content: '+380';
    width: 34px;
    height: 18px;
    background-size: contain;
}











