:root {
    /*-----Body-----*/
    --body-background-color: #FAFAFA;
    /*----Font color----*/
    --text-color-light: #111111;
    --text-color-dark: #FFFFFF;
    --secondary-text-color-dark: rgba(255, 255, 255, 0.7);
    --secondary-text-color-light: rgba(17, 17, 17, 0.7);
    /*-----Section Background color------*/
    --bg-color-light: #FFFFFF;
    --bg-color-dark: #1E1823;
    /*---Colors---*/
    --black: #111111;
    --blackcurrant: #1E1823;
    --orange: #FD9222;
    --white: #FAFAFA;
    --pink: #FCF1E0;
    /*----Icons----*/
    --icon-color-normal-light: #111111;
    --icon-color-normal-dark: #FFFFFF;
    --icon-color-active: #FD9222;
    --close-icon: linear-gradient(181.96deg, #f16529 1.64%, #d44528 98.35%);
    /*----Button Light ----*/
    --button-bg-normal-light: #FD9222;
    --button-bg-active-light: #FCF1E0;
    --button-font-normal-light: #FFFFFF;
    --button-font-active-light: #FD9222;
    /*-----Button Dark -----*/
    --button-border-normal-dark: #FFFFFF;
    --button-border-active-dark: #FD9222;
    /*Timing-function*/
        --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}