 @media screen and (min-width: 375px){
.unique-components {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 72px;
}
}
.unique {
    width: 335px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.taste {
    color: var(--orange);
}

.container-title {
    width: 283px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.unique-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black);
}

.unique-text {
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-bottom: 32px;
    color:var(--black);
}

.components-list {
    
}

.milk-choc-block {
    width: 335px;
    height: 270px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--orange);
    color: var(--text-color-dark);
    border-radius: 15px; 
}

.milk-block {
    width: 335px;
    height: 270px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    border-radius: 15px;
}

.nuts-block {
    width: 335px;
    height: 270px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    border-radius: 15px;
}

.chocolate-block {
    width: 335px;
    height: 270px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    border-radius: 15px;
}
.foto-components {
    width: 224px;
    height: 171px;
    margin-right: auto;
    margin-left: auto;
}


.components-item {
    
}

.components-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-left: 28px;
}

.components-cards {
    width: 335px;
    height: 270px;
    padding: 28px;

}

.title-components {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--text-color-light);
    margin-bottom: 8px;
}

.components-btn {
    height: 24px;
    background: var(--button-bg-normal-light);
    border-radius: 35px;
    border: none;
    font-size: 10px;
    line-height: 1.2;
    color: var(--text-color-dark);
}

.btn-components {
    width: 93px;
    height: 24px;
    background: var(--white);
    border-radius: 35px;
    border: 1px solid #FD9222;
    font-size: 10px;
    line-height: 1.2;
    color: var(--text-color-light);

}

.cards-text{
    width: 279px;
    height: 146px;
    margin-top: 14px;
    overflow: auto;
}

.components-text {
    height: 146px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-color-light);
}

.box-overlay {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.box-overlay:hover .overlay-text {
    transform: translateX(0);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: var(--bg-color-light);
    transform: translateX(-100%);
    transition: transform 250ms ease;
}

@media screen and (min-width: 768px) {
    .unique-components {
        padding-top: 100px;
    }
    .unique-title {
        height: 56px;
    }

 }